ul li{
    display: inline-block;
    margin-right: 10px;
}

.flip-card {
    background-color: transparent;
    width: 13vw;
    height: 17vw;
    perspective: 1000px;
    font-family: sans-serif;
  }
  
  .title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid gray;
    border-radius: 1rem;
  }
  
  .flip-card-front {
    background: linear-gradient(120deg, #f9f9f9 60%, #eeeeee 88%, #e5e5e5 40%, #c1c1c1 48%);
    color: #222222;
  }
  
  .flip-card-back {
    background: linear-gradient(120deg, #474747 30%, #222222 88%, #2c2c2c 40%, #606060 78%);
    color: #ffffff;
    transform: rotateY(180deg);
  }
  /* Toast样式 */
.toast-container {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.toast {
  position: relative;
  min-width: 250px;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: .25rem;
  box-shadow: 0 .25rem .75rem rgba(0,0,0,.1);
}
.toast-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: .5rem;
  margin-bottom: .5rem;
  border-bottom: 1px solid rgba(0,0,0,.05);
}
.toast-body {
  padding: .5rem;
}

/* 图标样式 */
.bi {
  font-size: 2rem;
  vertical-align: middle;
  margin-right: .5rem;
}